<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Add home to airbnb</title>
</head>

<link rel="stylesheet" href="/addhome.css"/>
<body>
  <header>
    <a href="/"> Go To Home</a>
    <a href="/host/add-home">Add Home</a>
  
  </header>

  <h1>Regrister Your Home  </h1>
  <div class="box">
  <form action ="/host/add-home"  method="POST">
  
    Name:<input name="name" type="text" id="btn"/><br/>
    <br>
 Email:<input name="email" type="text"/ id="btn"><br/> <br>
 Phone:<input name="phone" type="text" id="btn"/><br/>
    <br> 
    Address:<input name="address" type="text" id="btn"/><br/>
    <br> 
  <input type="submit" id="btn"/>
  </form>
</div>
</body>
</html>