<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/homeadded.css">
  <title>Home added secussfully</title>
</head>
<body>
  <header>
    <a href="/"> Go To Home</a>
    <a href="/host/add-home">Add Home</a>
  
  </header>



  <h1>Form Registered Secussfully</h1> <br>
  <p> <marquee > Malik Adil will contact with you shortly </marquee> </p>
  <p>
    Thank you for registering form with us 
  </p>
  <br>
     <a href="/" id="btn">Go To Home</a>
  

</body>
</html>