<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css"/>

  <title>Welcome to my  home page </title>
</head>
<body>
  <img src="" alt="">
  
<header>
  <a href="/"> Go To Home</a>
  <a href="/host/add-home">Regrester</a>
  <a href="/contact-us">Contact-us</a>
  <a href="/About-us">About-us</a>
  <a href="About-me">About-Me</a>

</header>
<p> Please Click on Regrester </p>
    <p> Welcome to my Page  </p>
    <p> Regrester your Form </p>
<marquee behavior="left" direction=alternate style="color:Red">Thanks for visiting my Page! MalikAdil</marquee>

</body>
<script>
alert('This Page was Created  By Malik Adil for testing')


</script>
</html>